version: '3'

services:
  mongo_db:
    container_name: nest_pokedex_practice
    image: mongo:5
    restart: always
    ports:
      - 27017:27017
    volumes:
      - ./mongo:/data/db
    environment:
      - MONGODB_DATABASE=julio_db